.handtekening {
  font-family: 'Indie Flower', serif;
  font-size: 20px;
  -ms-transform: rotate(0deg); /* IE 9 */
  -webkit-transform: rotate(0deg); /* Chrome, Safari, Opera */
  transform: rotate(0deg);
  display: none;
  z-index: 0;
}